x32inf RCDATA "mbrfilter\\32\\MBRFilter.inf"
x64inf RCDATA "mbrfilter\\64\\MBRFilter.inf"
x64sys RCDATA "mbrfilter\\64\\MBRFilter.sys"
x32sys RCDATA "mbrfilter\\32\\MBRFilter.sys"
Avast RCDATA "AV's\\Avast.exe"
AVG RCDATA "AV's\\AVG.exe"
Avira RCDATA "AV's\\Avira.exe"
BitDefender RCDATA "AV's\\BitDefender.exe"
MalwareBytes RCDATA "AV's\\MalwareBytes.exe"
